* {
  font-family: inherit;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  color: #2F4858;
  font-size: 50px;
  font-family: "MontserratBlack";
  margin-top: 50px;
}

.buttonContainer {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mealCard {
  background-color: white;
  margin-top: 40px;  
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 50px;
}


.left, .right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

ul {
  margin: 5px 0 0 15px;  
  padding: 0;  
}

.imgStyle {
  border-radius: 20px;
  height: 550px;
}

.mealName {
  color: #F6AE2D;
  font-size: 40px;
  font-family: "MontserratBlack";
}

.mealIngredients {
  font-size: 25px;
  font-family: "MontserratRegular";
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.generateButton {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #F6AE2D;
  font-family: "MontserratBlack";
  border-radius: 20px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
}

.buttonBorder {
  border: 8px #2F4858 dashed;
  border-radius: 25px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.buttonInversed {
  color: #F6AE2D;
  /* border: 5px #F6AE2D dashed; */
  background-color: white;
}

.buttonBorder:hover {
  animation: buttonShake 0.4s ease-in-out;
}

@keyframes buttonShake {
  0% {
    rotate: 0;
  }
  15% {
    rotate: 3deg;
  }
  40% {
    rotate: -3deg;
  }
  80% {
    rotate: 3deg;
  }
  100% {
    rotate: 0deg;
  }
}


@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .mealCard {
    height: 350px;
  }
  .imgStyle {
    height: 350px;
  }
  .mealName {
    font-size: 30px;
  }

  .mealIngredients {
    font-size: 20px;
  }
  .generateButton {
    font-size: 1rem;
  }
}

@media (max-width: 930px) {
  .container {
    width: 700px;
  }
  .mealCard {
    height: 280px;
    gap: 30px;
    padding: 30px;
  }
  .imgStyle {
    height: 280px;
  }
  .mealName {
    font-size: 20px;
  }
  .mealIngredients {
    font-size: 16px;
  }
  .generateButton {
    font-size: 0.8rem;
    padding: 10px 30px;
  }
}

@media (max-width: 730px) {
  .container {
    width: 550px;
  }
  .mealCard {
    height: 230px;
    padding: 30px;
    gap: 30px;
  }
  .imgStyle {
    height: 230px;
  }
  .mealName {
    font-size: 15px;
  }

  .mealIngredients {
    font-size: 12px;
  }
  .generateButton {
    font-size: 0.8rem;
    padding: 5px 20px;
  }
  .buttonBorder {
    border: 6px #2F4858 dashed;
  }
}

@media (max-width: 570px) {
  .header {
    font-size: 30px;
  }
  .container {
    width: 450px;
  }
  .mealCard {
    height: 170px;
    padding: 20px;
  }
  .imgStyle {
    height: 170px;
  }
  .mealName {
    font-size: 12px;
  }

  .mealIngredients {
    font-size: 10px;
  }
  .generateButton {
    font-size: 0.5rem;
    padding: 5px 20px;
  }
  .buttonBorder {
    border: 5px #2F4858 dashed;
    padding: 15px 17px;
  }
}

@media (max-width: 470px) {
  .header {
    font-size: 30px;
  }
  .container {
    width: 400px;
  }
  .mealCard {
    height: 170px;
    padding: 20px;
    gap: 25px;
  }
  .imgStyle {
    height: 160px;
  }
  .mealName {
    font-size: 12px;
  }
  .mealIngredients {
    font-size: 10px;
  }
  .generateButton {
    font-size: 0.5rem;
    padding: 5px 20px;
  }
  .buttonBorder {
    border: 4px #2F4858 dashed;
    padding: 10px 12px;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 30px;
  }
  .container {
    width: 330px;
  }
  .mealCard {
    height: 145px;
    padding: 15px;
    gap: 20px;
  }
  .imgStyle {
    height: 145px;
  }
  .right {
    gap: 1px
  }
  .mealName {
    font-size: 10px;
  }
  .mealIngredients {
    font-size: 8px;
  }
  .generateButton {
    font-size: 0.4rem;
    padding: 4px 20px;
  }
  .buttonBorder {
    border: 4px #2F4858 dashed;
    padding: 10px 12px;
  }
}
