* {
  font-family: inherit;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  color: #2F4858;
  font-size: 50px;
  font-family: "MontserratBlack";
  margin-top: 50px;
}

.buttonContainer {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mealCard {
  background-color: white;
  margin-top: 40px;  
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 50px;
}


.left, .right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.imgStyle {
  border-radius: 20px;
  height: 550px;
}

.mealName {
  color: #F6AE2D;
  font-size: 40px;
  font-family: "MontserratBlack";
}

.mealIngredients {
  font-size: 25px;
  font-family: "MontserratRegular";
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.generateButton {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #F6AE2D;
  font-family: "MontserratBlack";
  border-radius: 20px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
}

.buttonBorder {
  border: 8px #2F4858 dashed;
  border-radius: 25px;
  padding: 20px 20px;
}

.buttonInversed {
  color: #F6AE2D;
  /* border: 5px #F6AE2D dashed; */
  background-color: white;
}

.buttonBorder:hover {
  animation: buttonShake 0.4s ease-in-out;
}

@keyframes buttonShake {
  0% {
    rotate: 0;
  }
  15% {
    rotate: 3deg;
  }
  40% {
    rotate: -3deg;
  }
  80% {
    rotate: 3deg;
  }
  100% {
    rotate: 0deg;
  }
}


@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .mealCard {
    height: 350px;
  }
  .imgStyle {
    height: 350px;
  }
  .mealName {
    font-size: 30px;
  }

  .mealIngredients {
    font-size: 20px;
  }
  .generateButton {
    font-size: 1rem;
  }
}

@media (max-width: 930px) {
  .container {
    width: 700px;
  }
  .mealCard {
    height: 270px;
  }
  .imgStyle {
    height: 270px;
  }
  .mealName {
    font-size: 20px;
  }

  .mealIngredients {
    font-size: 16px;
  }
  .generateButton {
    font-size: 0.8rem;
  }
}

@media (max-width: 730px) {
  .container {
    width: 550px;
  }
  .mealCard {
    height: 200px;
  }
  .imgStyle {
    height: 200px;
  }
  .mealName {
    font-size: 15px;
  }

  .mealIngredients {
    font-size: 12px;
  }
  .generateButton {
    font-size: 0.8rem;
    padding: 5px 20px;
  }
}
